/* la paleta de colores
--dim-gray: #6d6867ff;
--van-dyke-brown: #764228ff;
--dark-jungle-green: #132928ff;
--spanish-gray: #93989aff;
--rich-black-fogra-39: #0b0b0aff;
--antique-brass: #bb9179ff;
--bistre: #442e1fff;
--light-gray: #d0d6d9ff; */
html {
    font-family: Tahoma, sans-serif;
}
body {
    background-color: lightgray;
}

header {
    background: url("img_fondo.jpeg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
}

header img {

}

header h1 {
    text-align: center;
    text-size-adjust: 60px;
    color: #0b0b0aff;
    
}

header p {
    text-align: center;
    text-size-adjust: 40px;
    color: #0b0b0afF;

}

/*maldita foto, mierda*/