/* la paleta de colores
CA8743 Bronze
A2642A Windsor tan
7C604D Raw umber
362316 Bistre
EBDCCD Almond*/
html {
    font-family: Tahoma, sans-serif;
}
body {
    margin: 0px auto;
    background-color: lightgray;
}

header {
    background: url("img_de_fondo.jpg");
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
    border: 5px;
    padding: 50px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #764228ff;
    max-width: 100%;
    height: 200px;
    border-radius: 100%;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    color: #0b0b0aff;
    margin: 0px auto;
    
}

header p {
    text-align: center;
    font-size: 2rem;
    color: #0b0b0afF;
    margin: 0px auto;

}

section {
    margin: 50px;
    border: 5px;
    padding: 30px;
}

.h2left {
    text-align: left;
    float: left;

}

.h2right {
    text-align: right;
    font: ;
    float: right;
}
