/* la paleta de colores
#CA8743 Bronze (marron mas colorido y clarito)
#A2642A Windsor tan (marron mas colorido)
#7C604D Raw umber (marron narmal)
#362316 Bistre  (marron oscuro)
#FFEBCD Almond (cremita)*/

* { 
    box-sizing: border-box;
}
html {
    font-family: Tahoma, sans-serif;
}

body {
    background-color: #FFEBCD   ;
}

header {
    background: url("img_fondo.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
    border: 5px;
    padding: 15px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
    border: 5px solid #FFEBCD ;
    border-radius: 100%;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #FFEBCD ;
    text-shadow: 3px 3px 4px #000000;
    margin: 0px auto;
    
}

header p {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 4px;
    color: #FFEBCD ;
    text-shadow: 3px 3px 4px #000000;
    margin: 0px auto;

}

section {
    margin: 50px;
    border: 5px;
    padding: 70px;
}

